.content{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap:24px;
  margin: 0 135px;
}

.header{
  background-color: rgb(10, 201, 150);

  &_navigation{
    padding: 10px 0;
    margin: 0 auto;
  }

  &_navigation_list{
    display: flex;
    flex-direction: column;
    
    gap: 30px;

    &_item{
      font-family: 'Lato';
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.5em;
      }

    &_item_ai{
      font-family: 'Red Hat Display';
      font-weight: 600;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: 0.05em;
      
    }
  }

}

.main{
  flex: 1 1 auto;
  background-color: rgba(38, 255, 0, 0.652);
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 570px;
  max-height: 455px;
  background-color: antiquewhite;
  gap: 50px;
  margin-top: 45px;

  &_header{
    font-family: 'Red Hat Display';
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.1em;    
  }

  &_text{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
  }
}

.img{
  max-width: 1170px;
  max-height: 500px;
  margin-bottom: 45px;
}

.section_2{
  display: flex;
  flex-direction: column;
  width: 100%;

  &_header{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    margin: 40px 0 30px 0;
  }

  &_text{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: beige;
    gap: 40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
  }
}


.footer {
  height: 200px;
  width: 100%;
  background-color: rgb(88, 210, 23);
}

.section_footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  height: 160px;

  &_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
    background-color: antiquewhite;
    gap: 20px;
  

    &_header{
      font-family: 'Red Hat Display';
      font-weight: 400;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: 0.05em;
    }

    &_text{
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-family: 'Lato';
      font-weight: 400;
      font-size: 16px;
      line-height: 166%;
      letter-spacing: 0.1em;
    }
  }

  &_icons{
    display: flex;
    width: 290px;
    background-color: #d9b6b6;
    justify-content: space-between;

    &_img{
      border: 1px solid #565656;
    }
  }
}


.copy_ring_text{
  background-color: bisque;
  text-align: center;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
}
