* {
  margin: 0;
  padding: 0;

  border: 0;
  background: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;

  font-size: 14px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

.chrome-picker {
  position: absolute;
}

/* style:*/

body {
  margin: 10px;
  background-image: url(./images/bg.avif);
  background-size: 100%;
  background-repeat: no-repeat;
  
}

h1 {
  border: 3px solid #ffffff;
  font-size: 38px;
  width: 300px;
  margin: 10px auto;
  background-color: #ffffff;
  text-align: center;
  position: relative;
  top: 40px;
  border-radius: 10px;
  box-shadow: 1px 0px 7px 2px #ffffff;
}

.form {
  width: 400px;
  box-shadow: 1px 0px 7px 2px #ffffff;
  margin: 10px auto;
  height: 260px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  top: 50px
}

.check {
  color: #000000;
  padding: 6px;
}

.cringe {
border-radius: 10px;
  margin: 10px auto;
  height: 183px;
  background-color: #ffffff;
}

.products-item {
  font-size: 20px;
  position: relative;
  top: 10px;
  left: 50px;
  display: inline-block;
  padding: 5px;
  height: 170px;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  left: -4px;
}

.regular-checkbox:checked {
  background-color: #000000;
  border: 1px solid #ffffff;
  box-shadow: 2px 2px 9px rgb(0, 0, 0);
  transition: ease-in 0.5s;
}

.regular-checkbox:checked:after {
  content: "\25C9";
  font-size: 14px;
  position: absolute;
  bottom: -1.5px;
  left: 2px;
  color: #fbfdfb;
}

/*.big-checkbox {
    padding: 18px;
  }
  
  .big-checkbox:checked:after {
    font-size: 28px;
    left: 6px;
  }*/

select {
  /* background-color: #18af22;
    display: inline-block;
    padding: 5px;*/
  color: #000000;
}

.select-product {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  /*width: 50px;
   left: 60px;
   position: relative;
   left: 250px;
    bottom: 100px;
    padding: 5px;*/
}

.counts {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  display: inline-block;
  position: relative;
  left: 60px;
  bottom: -10px;
  height: 158px;
}

.count-dress {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0px 1px 4px 7px rgb(0, 0, 0);
}

.count-suit {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0px 1px 4px 7px rgb(0, 0, 0);
}

.count-sport {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0px 1px 4px 7px rgb(0, 0, 0);
}

.count-jeans {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0px 1px 4px 7px rgb(0, 0, 0);
}

.button-item {
   
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  width: 170px;
  text-align: center;
  border-radius: 5px;
  margin: 3px auto;
}

p {
  font-size: 18px;
  font-weight: 600;
}

.button-item:hover {
  background-color: #000000;
  transition: ease-in-out 0.5s;
  box-shadow: 0px 1px 7px 1px rgb(7, 0, 0);
}

p:hover {
  color: #ffffff;
  transition: ease-in-out 0.5s;
}
