.content {
  width: 100%;
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;

  &_conteiner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}

.edit-textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-shadow: rgba(4, 1, 1, 0.628) 0px 2px 8px 0px;
}

.content_conteiner_item {
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  height: 100px;
  box-shadow: rgba(4, 1, 1, 0.628) 0px 2px 8px 0px;
  border-radius: 10px;
  line-height: 20px;
  max-width: 500px;

  &:hover {
    max-width: 600px;
    height: 200px;
    transition: ease-in 0.5s;
  }

  &_text {
    flex-grow: 1;
  }
}

.style {
  padding: 20px;
}

.content_window {
  width: 100%;
  display: flex;
  justify-content: center;

  &_width {
    box-shadow: rgba(4, 1, 1, 0.628) 0px 2px 8px 0px;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    padding: 20px;
    line-height: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}

.content_table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

td,
th {
  padding: 0.5rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 500px;
  border-radius: 10px;
  box-shadow: rgba(4, 1, 1, 0.628) 0px 2px 8px 0px;

  &:hover {
    max-width: 600px;
    height: 300px;
    transition: ease-in 1s;
  }
}

tbody tr:nth-child(odd) {
  background: #eee;
}
