.content {
  width: 100%;
  height: 100vh;
  background-color: cadetblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}
.content_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-box-shadow: rgba(4, 1, 1, 0.628) 0px 2px 8px 0px;
          box-shadow: rgba(4, 1, 1, 0.628) 0px 2px 8px 0px;
}

.content_conteiner_item {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  -webkit-box-shadow: rgba(4, 1, 1, 0.628) 0px 2px 8px 0px;
          box-shadow: rgba(4, 1, 1, 0.628) 0px 2px 8px 0px;
  border-radius: 10px;
  line-height: 20px;
  max-width: 500px;
}
.content_conteiner_item:hover {
  max-width: 600px;
  height: 200px;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}
.content_conteiner_item_text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.style {
  padding: 20px;
}

.content_window {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content_window_width {
  -webkit-box-shadow: rgba(4, 1, 1, 0.628) 0px 2px 8px 0px;
          box-shadow: rgba(4, 1, 1, 0.628) 0px 2px 8px 0px;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  padding: 20px;
  line-height: 20px;
}
.content_window_width:hover {
  cursor: pointer;
}

.content_table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

td,
th {
  padding: 0.5rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 500px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(4, 1, 1, 0.628) 0px 2px 8px 0px;
          box-shadow: rgba(4, 1, 1, 0.628) 0px 2px 8px 0px;
}
table:hover {
  max-width: 600px;
  height: 300px;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

tbody tr:nth-child(odd) {
  background: #eee;
}