.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// HEADER
.header {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 700px;
  padding: 0 50px 0 50px;
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  &_container {
    display: flex;
    width: 100%;
    height: 107px;
    gap: 5px;
    position: relative;
    z-index: 1;
    padding-top: 53px;

    &_logo {
      margin-right: 5px;
    }

    &_social {
      display: flex;
      width: 20%;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &_title {
    width: 111%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_header {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 80px;
      line-height: 98px;
      letter-spacing: 0.1em;
      color: #ffffff;
    }

    &_text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.3em;
      color: #ffffff;
    }

    &_arrow {
      position: relative;
      z-index: 1;
      margin-bottom: 30px;
    }
  }
}

.header_container_social_icon,
.header_title_arrow {
  cursor: pointer;
}

.header_container_social_icon circle:hover {
  fill: #ffffff;
}

.header_title_arrow path:hover {
  fill: #ffffff !important;
}

.green {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header_line {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &_nav {
    display: flex;
    width: 100%;
    justify-content: space-around;

    &_list {
      color: #ffffff;
      list-style-type: circle;

      &:hover {
        list-style-type: disc;
      }
    }
  }
}

.header_line_nav_list_link {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.background {
  width: 100%;
  height: 700px;
  position: absolute;
  z-index: 0;
}

.swiper-slide_img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  background: linear-gradient(
    50deg,
    rgba(25, 182, 244, 0.9178265056022409) 2%,
    rgba(111, 54, 240, 0.8674063375350141) 100%
  );
}

.swiper-pagination {
  flex-direction: column;
  margin-right: 10px;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.swiper-pagination-bullet-active {
  border: 1px solid rgb(255, 255, 255);
}

.lol {
  flex-direction: column;
  display: flex !important;
  gap: 30px;
}

.header_title {
  position: relative;
  z-index: 1;
}
//  /HEADER

// MAIN
.main {
  width: 100%;
}

.main_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  height: 190px;
  margin: 34px 0 90px 0;

  &_line {
    max-width: 100px;
    width: 100px;
    height: 1px;
    background-color: #2c4058;
  }

  &_text {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #2c4058;
  }
}

// WHAT WE DO
.main_section-do {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 177px;

  &_trade {
    width: 100%;
    display: flex;
    justify-content: space-between; // на більших екранах space-around
    padding-right: 70px;

    &_pics {
      display: flex;
      width: 845px;
      //max-width: 845px;
      position: relative;

      &_bg {
        width: 585px;
        height: 470px;
        max-width: 585px;
        max-height: 470px;
        background-color: #55b7ff;
      }

      &_img {
        position: absolute;
        left: 150px;
        bottom: -57px;
        max-width: 630px;
      }
    }

    &_title {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 40px;
      position: relative;
      z-index: 2;
      //padding-right: 70px;

      &_info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;

        &_description {
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #2c4058;
          max-width: 470px;
        }

        &_button {
          border: 1px solid #2c4058;
          padding: 16px 41px;
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;

          &:hover {
            background-color: #2c4058;
            color: #ffffff;
            transition: ease-in-out 0.2s;
          }
        }
      }

      &_addres {
        display: flex;
        justify-content: space-between;
        max-width: 278px;
        width: 278px;
        font-family: "Open Sans";
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
}

.main_section-do_trade_title_info_header {
  &_text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #2c4058;
  }

  &_center {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2c4058;
  }
}

.main_section-do_commerce {
  display: flex;
  width: 100%;
  justify-content: space-between; // на більших екранах space-around
  padding-left: 70px;

  &_title {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    position: relative;
    z-index: 2;
    padding-left: 150px;

    &_info {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 40px;

      &_description {
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 30px;
        color: #2c4058;
        max-width: 470px;
        font-weight: 400;
      }

      &_button {
        border: 1px solid #2c4058;
        padding: 16px 41px;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        &:hover {
          background-color: #2c4058;
          color: #ffffff;
          transition: ease-in-out 0.2s;
        }
      }
    }
    &_addres {
      display: flex;
      justify-content: space-between;
      max-width: 165px;
      width: 165px;
      font-family: "Open Sans";
      font-style: italic;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
    }
  }

  &_pics {
    display: flex;
    width: 845px;
    position: relative;
    justify-content: end;

    &_bg {
      width: 585px;
      height: 470px;
      max-width: 585px;
      max-height: 470px;
      background-color: #55b7ff;
    }

    &_img {
      position: absolute;
      bottom: -57px;
      right: 89px;
      max-width: 630px;
    }
  }
}

.main_section-do_commerce_title_info_header {
  &_text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #2c4058;
  }

  &_center {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2c4058;
  }
}

.main_section_news {
  width: 100%;
  height: 980px;
  background: url("../assets/Background.png");
  background-repeat: no-repeat;
  background-size: cover; //можна ще контейн поставити, тоді це виглядає більш алаптивно, але тоді є трабли з блоками або 100%
  background-position: center;
  margin-top: 170px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_slider {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &_header {
      width: 100%;
      height: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      &_line {
        max-width: 100px;
        width: 100px;
        height: 1px;
        background-color: #ffffff;
      }

      &_text {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: auto;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  &_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;

    &_descript {
      width: 100%;
      padding: 0 10px;

      &_title {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #2c4058;
      }

      &_text {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #2c4058;
      }
    }

    &_user {
      width: 100%;
      display: flex;
      padding-left: 10px;
      justify-content: space-between;
      gap: 20px;

      &_photo {
        max-width: 60px;
        width: 60px;
        min-width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #007aff;

        &_img {
          border-radius: 50%;
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

.swiper-slide_content_user_item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.swiper-slide_content_user_item_name {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2c4058;
}

.swiper-slide_content_user_item_date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #55b7ff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  width: 100%;
  height: 510px; // на більших екранах додати
  margin: 20px auto;
}

.dots {
  bottom: 30px !important;
}

.dots .swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255);
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.swiper-button-prev {
  content: url("../assets/Left.svg");
  left: -90px;
  opacity: 1;
}
.swiper-button-next {
  content: url("../assets/Right.svg");
  right: -90px;
  opacity: 1;
}

// gallery
.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;

  &_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    &_photo {
      width: 1170px;
      max-width: 100%;
      height: 438px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
    }

    &_button {
      border: 1px solid #2c4058;
      padding: 16px 57px;
      max-width: 200px;
      width: 200px;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
    }
  }
}

.gallery_container_photo_link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
  }
}

.gallery_container_photo_pic {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &_svg {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
  }

  &_img {
    position: absolute;
    z-index: 1;
  }
}

.gallery_container_photo_pic:hover .gallery_container_photo_pic_svg {
  opacity: 1;
  transition: 0.5s;
}

.img1 {
  width: 100%;
  height: 100%;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img2 {
  grid-column: 3;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img3 {
  grid-column: 4;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img4 {
  grid-row: 2;
  grid-column: 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img5 {
  grid-row: 2;
  grid-column: 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_section_contact {
  background-color: brown;
  //width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //height: 900px;

  &_item {
    background-color: #007aff;
    width: 770px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-top: -225px; /* Змініть це значення, якщо потрібно додаткове коригування */
  //margin-bottom: 50px;
    position: relative;
    z-index: 3;

    &_form {
      width: 770px;
      height: 450px;
      background: url("../assets/citybg.png");
      background-repeat: no-repeat;
      background-size: contain; //можна ще контейн поставити, тоді це виглядає більш алаптивно, але тоді є трабли з блоками або 100%
      background-position: bottom;
    }
  }
}

.main_section_contact_item_form_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &_contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 196px;
    height: 196px;
    min-height: auto;
    width: 276px;
    max-width: 280px;

    &_info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 11px 0;
    }
  }
}

.info {
  display: flex;
  gap: 10px;
  //justify-content: space-around;
  align-items: center;
}

.contact_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.form_header {
  height: 84px;
  justify-content: space-between;
}

.main_section_contact_item_form_content_form {
  max-height: 196px;
  height: 196px;
  min-height: auto;
  width: 250px;
  max-width: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_button {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;

    &_submit {
      width: 100px;
      border: 1px solid #2c4058;
      padding: 11px 21px;
      font-family: "Montserrat";
      font-weight: 400;

      &:hover {
        background-color: rgba(73, 17, 163, 0.418);
        border: 1px solid #eaecee;
        color: #eaecee;
        box-shadow: 0px 0px 9px 4px rgba(202, 157, 245, 0.63);
        transition: ease-in-out 0.3s;
      }
    }
  }

  &_user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_input {
      opacity: 0.2;
      border-bottom: 1px solid #2c4058;
      width: 100%;
      padding: 5px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;

      &:focus {
        border-bottom: 1px solid #0d4185;
        opacity: 0.9;
      }
    }
  }
}

// .main_section_contact_item_form_content_form_user_input:focus{
//   border-bottom: 1px solid #046cec;
// }

.yNHHyP-marker-view {
  //content: url("../assets/Pin.svg");
}

.IPAZAH-content-container {
  content: url("../assets/Pin.svg");
}

.map {
  width: 100%;
  height: 600px;
  background-color: gray;
}

.main_section_contact_map {
  flex-grow: 1;
  width: 100%;
  height: 600px;
  background-color: gray;
  position: relative;
  z-index: 2;
}

