.content {
  width: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 700px;
  padding: 0 50px 0 50px;
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  &_container {
    display: flex;
    width: 100%;
    height: 107px;
    gap: 5px;
    position: relative;
    z-index: 1;
    padding-top: 53px;

    &_logo {
      margin-right: 5px;
    }

    &_social {
      display: flex;
      width: 20%;
      justify-content: space-between;
      gap: 10px;

      & circle:hover {
      }
    }
  }

  &_title {
    width: 111%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_header {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 80px;
      line-height: 98px;
      letter-spacing: 0.1em;
      color: #ffffff;
    }

    &_text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.3em;
      color: #ffffff;
    }

    &_arrow {
      position: relative;
      z-index: 1;
      margin-bottom: 30px;
    }
  }
}

.header_container_social_icon,
.header_title_arrow {
  cursor: pointer;
}

.header_container_social_icon circle:hover {
  fill: #ffffff;
}

.header_title_arrow path:hover {
  fill: #ffffff;
}

.green {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header_line {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &_nav {
    display: flex;
    width: 100%;
    justify-content: space-around;

    &_list {
      color: #ffffff;
      list-style-type: circle;

      &:hover {
        list-style-type: disc;
      }
    }
  }
}

.header_line_nav_list_link {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.background {
  width: 100%;
  height: 700px;
  position: absolute;
  z-index: 0;
}

.wrapper-first {
}

.swiper-slide_img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  background: linear-gradient(
    50deg,
    rgba(25, 182, 244, 0.9178265056022409) 2%,
    rgba(111, 54, 240, 0.8674063375350141) 100%
  );
}

.swiper-pagination {
  flex-direction: column;
  margin-right: 10px;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.swiper-pagination-bullet-active {
  border: 1px solid rgb(255, 255, 255);
}

.lol {
  flex-direction: column;
  display: flex !important;
  gap: 30px;
}

.header_title {
  position: relative;
  z-index: 1;
}

// .map {
//   width: 100%;
//   height: 400px;
//   background-color: gray;
// }
