.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// HEADER
.header {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 700px;
  padding: 0 50px 0 50px;
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  &_container {
    display: flex;
    width: 100%;
    height: 107px;
    gap: 5px;
    position: relative;
    z-index: 1;
    padding-top: 53px;

    &_logo {
      margin-right: 5px;
    }

    &_social {
      display: flex;
      width: 20%;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &_title {
    width: 111%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_header {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 80px;
      line-height: 98px;
      letter-spacing: 0.1em;
      color: #ffffff;
    }

    &_text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.3em;
      color: #ffffff;
    }

    &_arrow {
      position: relative;
      z-index: 1;
      margin-bottom: 30px;
    }
  }
}

.header_container_social_icon,
.header_title_arrow {
  cursor: pointer;
}

.header_container_social_icon circle:hover {
  fill: #ffffff;
}

.header_title_arrow path:hover {
  fill: #ffffff !important;
}

.green {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header_line {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &_nav {
    display: flex;
    width: 100%;
    justify-content: space-around;

    &_list {
      color: #ffffff;
      list-style-type: circle;

      &:hover {
        list-style-type: disc;
      }
    }
  }
}

.header_line_nav_list_link {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.background {
  width: 100%;
  height: 700px;
  position: absolute;
  z-index: 0;
}

.swiper-slide_img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  background: linear-gradient(
    50deg,
    rgba(25, 182, 244, 0.9178265056022409) 2%,
    rgba(111, 54, 240, 0.8674063375350141) 100%
  );
}

.swiper-pagination {
  flex-direction: column;
  margin-right: 10px;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.swiper-pagination-bullet-active {
  border: 1px solid rgb(255, 255, 255);
}

.lol {
  flex-direction: column;
  display: flex !important;
  gap: 30px;
}

.header_title {
  position: relative;
  z-index: 1;
}
//  /HEADER

// MAIN
.main {
  width: 100%;
}

.main_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  height: 190px;
  margin: 34px 0 90px 0;

  &_line {
    max-width: 100px;
    width: 100px;
    height: 1px;
    background-color: #2c4058;
  }

  &_text {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #2c4058;
  }
}

// WHAT WE DO
.main_section-do {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 177px;

  &_trade {
    width: 100%;
    display: flex;
    justify-content: space-between; // на більших екранах space-around
    padding-right: 70px;

    &_pics {
      display: flex;
      width: 845px;
      //max-width: 845px;
      position: relative;

      &_bg {
        width: 585px;
        height: 470px;
        max-width: 585px;
        max-height: 470px;
        background-color: #55b7ff;
      }

      &_img {
        position: absolute;
        left: 150px;
        bottom: -57px;
        max-width: 630px;
      }
    }

    &_title {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 40px;
      position: relative;
      z-index: 2;
      //padding-right: 70px;

      &_info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;

        &_description {
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #2c4058;
          max-width: 470px;
        }

        &_button {
          border: 1px solid #2c4058;
          padding: 16px 41px;
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;

          &:hover {
            background-color: #2c4058;
            color: #ffffff;
            transition: ease-in-out 0.2s;
          }
        }
      }

      &_addres {
        display: flex;
        justify-content: space-between;
        max-width: 278px;
        width: 278px;
        font-family: "Open Sans";
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
}

.main_section-do_trade_title_info_header {
  &_text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #2c4058;
  }

  &_center {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2c4058;
  }
}

.main_section-do_commerce {
  display: flex;
  width: 100%;
  justify-content: space-between; // на більших екранах space-around
  padding-left: 70px;

  &_title {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    position: relative;
    z-index: 2;
    padding-left: 150px;

    &_info {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 40px;

      &_description {
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 30px;
        color: #2c4058;
        max-width: 470px;
        font-weight: 400;
      }

      &_button {
        border: 1px solid #2c4058;
        padding: 16px 41px;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        &:hover {
          background-color: #2c4058;
          color: #ffffff;
          transition: ease-in-out 0.2s;
        }
      }
    }
    &_addres {
      display: flex;
      justify-content: space-between;
      max-width: 165px;
      width: 165px;
      font-family: "Open Sans";
      font-style: italic;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
    }
  }

  &_pics {
    display: flex;
    width: 845px;
    position: relative;
    justify-content: end;

    &_bg {
      width: 585px;
      height: 470px;
      max-width: 585px;
      max-height: 470px;
      background-color: #55b7ff;
    }

    &_img {
      position: absolute;
      bottom: -57px;
      right: 89px;
      max-width: 630px;
    }
  }
}

.main_section-do_commerce_title_info_header {
  &_text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #2c4058;
  }

  &_center {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2c4058;
  }
}

// .map {
//   width: 100%;
//   height: 400px;
//   background-color: gray;
// }
