.content {
  width: 100%;
}

// HEADER + NAVBAR
.header {
  background-color: #f8f1ea;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 58px;
  gap: 356px;

  @media (max-width: 1334px) {
    padding: 0;
  }

  @media (max-width: 1208px) {
    gap: 87px;
  }

  @media (max-width: 827px) {
    gap: 20px;
  }

  @media (max-width: 700px) {
    justify-content: space-around;
    height: 50px;
  }

  &_navbar {
    width: 100%;
    display: flex;
    @media (max-width: 700px) {
      width: 205px;
    }

    &_links {
      display: flex;
      gap: 213px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex: 1;

      @media (max-width: 1334px) {
        gap: 87px;
      }
      @media (max-width: 827px) {
        gap: 20px;
      }

      &_logo {
        width: 182px;
        height: 32px;
        flex: 1;
      }

      &_list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 700px) {
          display: none;
        }
      }
    }
  }

  &_user {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 1334px) {
      justify-content: space-around;
    }
    @media (max-width: 700px) {
      width: 100px;
    }

    @media (min-width: 1441px) {
      width: 10%;
      justify-content: space-around;
    }
  }
}

.header_navbar_links_list_item {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 93px;
  height: 80px;
  display: flex;

  &_anchor {
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: coral;
      color: rgb(254, 254, 254);
      transition: ease-in 0.3s;
    }
  }
}

.header_navbar_links_logo{
  @media (max-width: 590px) {
    height: 27px;
  }
}

.hover_user, .search_hover, .icon_user{
  @media (max-width: 590px) {
    width: 20px;
    height: 20px;
  }
}

.icons_hover {
  cursor: pointer;
}

.hover_user:hover .search_hover path {
  fill: #f16a50;
}
.hover_user:hover .icon_user path {
  stroke: #f16a50;
}


// MAIN
.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
//SLIDER 1
.baner {
  width: 100%;
}

.swiper-slide_img {
  width: 100%;
}

.title {
  width: 100%;
  height: 40px;

  &_header {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
  }
}

//SLIDER2
.guitar {
  margin: 0 !important;
}

.guitar-slide{

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.second {
  display: none;
  position: static;

  @media (max-width: 700px) {
    display: block;
  }
}

.last-section {
  background: #f8f1ea;
  display: flex;
  flex-direction: column;
  gap: 53px;
  height: 310px;
  padding: 10px;
}

//SLIDER3
.last {
  height: 100%;
  display: flex !important;
  align-items: center !important;
  margin: 0 !important;
  justify-content: center;
  padding: 0 79px 0 0;
}

.logos {
  position: relative;
  top: 30px;
  height: 100px;
  display: flex;
  align-items: center;
}

.button-sect {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &_of-second-sl {
    border: 2px solid #000000;
    padding: 15px 57px;
    max-width: 235px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background-color: #f16a50;
      color: #fff;
      border: 1px solid #f16a50;
    }
  }
}

.button-of-second-sl {
  border: 2px solid #000000;
  padding: 15px 57px;
  max-width: 227px;
}

.third-wrap {
  width: auto;

  @media (max-width: 900px) {
    justify-content: space-between;
    gap: 100px;
  }
}

.third-pag {
  display: none;

  @media (max-width: 700px) {
    display: block;
    position: static;
  }
}

.swiper-button-prev:after {
  content: url("../assets/prev.svg");
}

.swiper-button-prev:hover::after {
  content: url("../assets/prev-hover.svg");
}

.swiper-button-next:after {
  content: url("../assets/next.svg");
}

.swiper-button-next:hover::after {
  content: url("../assets/next-hover.svg");
}

// FOOTER
.footer {
  background: #35312d;
  padding: 0 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #f8f1ea;
  padding-top: 70px;
  padding-bottom: 7px;

  @media (max-width: 871px) {
    padding: 70px 20px 7px;
    //flex-direction: row;
  }

  &_conteiner {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 300px;
    padding-left: 143px;

    @media (max-width: 1024px) {
      padding-left: 50px;
    }

    @media (max-width: 871px) {
      gap: 100px;
    }

    @media (max-width: 590px) {
      //flex-direction: column;
      gap: 15px;
      padding-left: 5px;
    }

    &_block {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 35px;

      @media (min-width: 2500px) {
        width: 32%;
      }

      @media (max-width: 871px) {
        flex-direction: row;
      }

      @media (max-width: 590px) {
        flex-direction: column;
        gap: 15px;
      }

      &_logo {
        width: 150px;
      }

      &_links {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_item {
          &_anchor {
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #f8f1ea;

            @media (max-width: 590px) {
              font-size: 14;
              background-color: aqua;
            }
          }
        }
      }
    }

    &_block-contact {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 51px;
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      color: #f8f1ea;

      @media (min-width: 2230px) {
        width: 11%;
      }

      @media (max-width: 590px) {
        flex-direction: column;
        font-size: 16px;
        color: aquamarine;
      }

      &_item {
        display: flex;
        flex-direction: column;
        max-width: 325px;
        gap: 35px;

        &_icons {
          display: flex;
          width: 100%;
          justify-content: space-between;
          gap: 3px;
          cursor: pointer;

          &_inst {
            width: 30px;
            height: 30px;

            &:hover {
              stroke: #f16a50;
            }
          }

          &_face {
            width: 15px;
            height: 30px;
          }

          &_pin {
            width: 23px;
            height: 23px;
          }

          &_twit {
            width: 36px;
            height: 30px;
          }

          &_ytb {
            width: 40px;
            height: 30px;
          }
        }
      }
    }
  }
}

.phone-number, .copyright{
  @media (max-width: 590px) {
    font-size: 10px;
  }
}

.footer_conteiner_block-contact_item_icons_hover, .footer_conteiner_block-contact_item_icons_hover-stroke{
  @media (max-width: 590px) {
    width: 13px;
    height: 13px;
  }
}

.you:hover .footer_conteiner_block-contact_item_icons_hover path {
  fill: #f16a50;
}

.you:hover .footer_conteiner_block-contact_item_icons_hover-stroke path {
  stroke: #f16a50;
}

.partners {
  margin-top: 30px;
}


// for second and third slider
.swiper-button-next,
.swiper-button-prev {
  @media (max-width: 700px) {
    display: none;
  }
}

.swiper-pagination-bullet-active {
  background-color: #f16a50;
}
