.content {
  width: 1440px;
}

.header {
  background-color: #f8f1ea;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 58px;
  gap: 356px;
}
.header_navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_navbar_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 213px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.header_navbar_links_logo {
  width: 182px;
  height: 32px;
}
.header_navbar_links_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header_navbar_links_list_item {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 93px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_navbar_links_list_item_anchor {
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_navbar_links_list_item_anchor:hover {
  background-color: coral;
  color: rgb(254, 254, 254);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.baner {
  width: 100%;
  height: 700px;
  background-color: aquamarine;
}

.wrapper-first {
  background-color: blueviolet;
}

.swiper-slide_img {
  width: 100%;
}

.title {
  width: 100%;
  height: 40px;
}
.title_header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
}

.guitar {
  background-color: aqua;
  margin: 0 !important;
}

.last {
  background: #f8f1ea;
  margin: 0 !important;
}

.footer {
  background: #35312d;
  padding: 0 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #f8f1ea;
  padding-top: 70px;
  padding-bottom: 7px;
}
.footer_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.footer_conteiner_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
.footer_conteiner_block_logo {
  width: 150px;
}
.footer_conteiner_block_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer_conteiner_block_links_item_anchor {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #f8f1ea;
}
.footer_conteiner_block-contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 51px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #f8f1ea;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_conteiner_block-contact_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}