/*.content {
  overflow: hidden;
  max-width: 1440px;
  height: 5000px;
  margin: 0 auto;
  background-color: #F1897B;
}*/

/*  НА 830-840px РОБИТИ ТАБЛЕТ*/

.header {
}

.header_container {
  height: 1029px;
  background: url("../assets/first-screen-image.png");
  background-repeat: no-repeat;
  background-size: cover; //можна ще контейн поставити, тоді це виглядає більш алаптивно, але тоді є трабли з блоками або 100%
  background-position: center;

  &_title {
    width: 530px;
    height: 305px;
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 135px;

    &_header {
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 400;
      font-size: 44px;
      line-height: 52px;
      color: #262a3f;

      &_green {
        color: #85bbb1;
        font-style: italic;
      }
    }

    &_text {
      font-family: "Lato";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      color: #262a3f;
      margin: 20px 0 50px 0;
      max-width: 439px;
    }
    //Join us
    &_link {
      width: 115px;
      height: 20px;
      position: relative;

      &:hover &_marker {
        background-color: #e64f3a;
      }

      &:hover &_text {
        color: #e64f3a;
      }

      &_text {
        font-family: "Lato";
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.08em;
        color: #f1897b;
        opacity: 0.7;
      }

      &_marker {
        width: 110px;
        height: 10px;
        position: absolute;
        bottom: -4px;
        right: -7px;
        background-color: #f1897b;
        opacity: 0.3;
      }
    } // Join us
  }
}

.sticky {
  height: 500px;
}

.header_line {
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  position: sticky;
  top: 50px;
  justify-content: space-between;
  height: 90px;
  padding: 0 135px;

  &_logo {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.header_line_nav_link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #262a3f;
  margin-right: 30px;

  &:last-child {
    margin: 0;
  }
}

.header_line_nav_link:hover {
  border-bottom: 2px solid #f1897b;
  transition: ease-in 0.2s;
}
/*  /Header */
/*   Main   */
.main{
  height: 850vh;
  width: 100%;
  background-color: #b9c8c5;

  /*       info     */

  &_container{
    width: 100%;
    min-height: 670px;
    position: relative;
    top: -75px;
    background-color: #e64f3a;
    display: flex;
    align-items: center;
    padding: 0 135px;

    &_picture{
      width: 570px;
      height: 670px;
      background: url(../assets/statistic-image.png);
      background-size: cover;
      
      

      &_img{
        max-width: 570px;
      }
    }

    &_info{
      max-width: 770px;
      min-height: 580px;
      z-index: 3;
      left: 400px;
      top: 45px;
      background: #FFFFFF;
      opacity: 0.9;
      display: flex;
      gap: 56px;
      padding: 45px 0 45px 87px; //17 0 17 87 - media 940px
      justify-content: space-between;
      margin-left: -170px;
    }
  }
}

.blure-bg{
  width: 100%;
  height: 600px;
  display: flex;
  position: absolute;
  z-index: 0;

  &_green{
    width: 100%;
    height: 100%;
    background: linear-gradient(166.11deg, rgba(132, 184, 184, 0.148) 46.73%, #FFFFFF 63.21%, #FFFFFF 63.21%);
  }

  &_white{
    width: 100%;
    height: 100%;
    background: linear-gradient(160deg, rgba(132, 184, 184, 0.188) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 100%);
  }
}

.main_container_info_list{
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  gap: 40px;


  &_tril{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 72px;
    text-align: center;
    color: #262A3F;
  }
  
  &_market{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #262A3F;
    opacity: 0.8;
    margin: 12px 0 40px 0;

    &:last-child{
        margin: 0;
    }
  }
  
  &_line{
    width: 100px;
    height: 2px;
    background-color: #85bbb1;
  }
  
  
}

.main_container_info_list_block{
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main_container_info_text{
  max-width: 400px;
  height: 390px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_item{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #262A3F;
    opacity: 0.8;
  }

}

.info-button{
}
/*       /info      */

/*       benefits     */
.benefits{
  max-width: 100%;
  min-height: 670px;
  padding: 0 135px ;
  display: flex;
  justify-content: center;
  

  &_conteiner{
    width: 1770px;
    min-height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    background-color: #e64f3a;
    
    &_block{
      border-top: 1px solid #e4e4e4;
      padding: 50px ;
      display: flex;
      flex-direction: column;
      gap: 30px;
      
      &_header{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        color: #262A3F;
      }

      &_text{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: #262A3F;
        opacity: 0.8;
        
      }
    }
  }
}
/*      /benefits     */
/*     quote      */ 
.quote{
  max-width: 100%;
  height: 600px;
  padding: 0 135px ;
  background-color: rgb(127, 255, 212);
  

  &_conteiner{
    max-width: 100%;
    min-height: 200px;
    max-height: 600px;
    background-image: url(../assets/quote-background.png);
    background-size: cover;
    background-position: center;
    padding: 80px 101px 100px 101px;
  }
}

.quote_conteiner_block{
  display: flex;
  min-height: 230px;
  position: relative;
  max-height: 550px;


  &_picture{
    max-width: 100px;
    position: absolute;
    
    &_img{
    }
  }

  &_item{
    max-width: 710px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: -40px;
    margin-top: 30px;

    &_text{
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 46px;
      letter-spacing: 0.04em;
      color: #FFFFFF;
    }
  
    &_autor{
      font-family: 'Playfair Display';
      font-style: italic;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.08em;
      color: #FFFFFF;
    }
  }
}
/*      /quote      */ 
/*   video  */
.video {
  max-width: 100%;
  height: 650px;
  padding: 20px 135px;
  background-color: rgb(69, 77, 39);
  display: flex;
  justify-content: center;

  &_conteiner {
    border: 1px solid #E4E4E4;
    border-radius: 32px;
    max-width: 970px;
    min-width: 820px;
    min-height: 601px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 31px 14px 31px 8px;

    &_tablet {
      width: 95%;
      max-width: 100%;
      height: 539px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_item {
        &:first-child {
          max-width: 13px;
          max-height: 13px;
          min-width: 9px;
          min-height: 9px;
          border: 1px solid #E4E4E4;
          border-radius: 32px;
        }

        &:nth-child(2) {
          background: url(../assets/screensaver-video.png);
          width: 870px;
          height: 539px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:last-child {
          border: 1px solid #E4E4E4;
          border-radius: 32px;
          max-width: 35px;
          min-width: 26px;
          max-height: 35px;
          min-height: 26px;
        }

        
      }
    }
  }
}

.video_conteiner_tablet_item_link{
  width: 120px;
  height: 120px;
  background-color: blueviolet;
  background: url(../assets/icon\ play.svg);
}



/*  /video  */

/*   /Main   */
/*.content_bg{
  max-width: 1440px;
  height: 1000px;
  background: url(../assets/first-screen-image.png) no-repeat;
  background-size: contain;
}*/

/*   Main   */

/*.sticky{
    height: 5000px;
}*/
/*   Header   */
/*.header {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 90px;
  top: 30px;
  position: sticky;
  top: 30px;
  display: flex;
  align-items: center;
  padding: 0 135px;
  

  &_item{
    display: flex;
    align-items: center;
    gap: 573px;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin: 25px 0;


    &_logo{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    

    &_navbar{
        height: 30px;
    }
  }
}

.header_item_navbar_ul{
  display: flex;
  list-style: none;
  gap: 30px;

  &_text{
    display: inline-block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    

    &_link{
      text-decoration: none;
      color: #262A3F;
    }
  }
}

.header_item_navbar_ul_text:hover{
  border-bottom: 2px solid #F1897B;
  transition: ease-in .2s;
  opacity: .8;
}*/
/*   /Header   */

/*   /Main   */
/*   Footer   */
/*   /Footer   */