@charset "UTF-8";
/*.content {
  overflow: hidden;
  max-width: 1440px;
  height: 5000px;
  margin: 0 auto;
  background-color: #F1897B;
}*/
/*  НА 830-840px РОБИТИ ТАБЛЕТ*/
.header_container {
  height: 1029px;
  background: url("../assets/first-screen-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header_container_title {
  width: 530px;
  height: 305px;
  position: absolute;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 135px;
}
.header_container_title_header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  color: #262a3f;
}
.header_container_title_header_green {
  color: #85bbb1;
  font-style: italic;
}
.header_container_title_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #262a3f;
  margin: 20px 0 50px 0;
  max-width: 439px;
}
.header_container_title_link {
  width: 115px;
  height: 20px;
  position: relative;
}
.header_container_title_link:hover .header_container_title_link_marker {
  background-color: #e64f3a;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.header_container_title_link:hover .header_container_title_link_text {
  color: #e64f3a;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.header_container_title_link_text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.08em;
  color: #f1897b;
  opacity: 0.7;
}
.header_container_title_link_marker {
  width: 110px;
  height: 10px;
  position: absolute;
  bottom: -4px;
  right: -7px;
  background-color: #f1897b;
  opacity: 0.3;
}

.sticky {
  height: 500px;
}

.header_line {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  padding: 0 135px;
}
.header_line_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.header_line_nav_link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #262a3f;
  margin-right: 30px;
}
.header_line_nav_link:last-child {
  margin: 0;
}

.header_line_nav_link:hover {
  border-bottom: 2px solid #f1897b;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

/*  /Header */
/*   Main   */
.main {
  height: 850vh;
  width: 100%;
  background-color: #b9c8c5;
  /*       info     */
}
.main_container {
  width: 100%;
  min-height: 670px;
  position: relative;
  top: -75px;
  background-color: #e64f3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 135px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main_container_picture {
  width: 570px;
  height: 670px;
  background: url(../assets/statistic-image.png);
  background-size: cover;
}
.main_container_picture_img {
  max-width: 570px;
}
.main_container_info {
  max-width: 770px;
  min-height: 580px;
  z-index: 3;
  left: 400px;
  top: 45px;
  background: #FFFFFF;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  padding: 45px 0 45px 87px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -170px;
}

.blure-bg {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 0;
}
.blure-bg_green {
  width: 100%;
  height: 100%;
  background: linear-gradient(166.11deg, rgba(132, 184, 184, 0.148) 46.73%, #FFFFFF 63.21%, #FFFFFF 63.21%);
}
.blure-bg_white {
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, rgba(132, 184, 184, 0.188) 0%, rgb(255, 255, 255) 42%, rgb(255, 255, 255) 100%);
}

.main_container_info_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  gap: 40px;
}
.main_container_info_list_tril {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 72px;
  text-align: center;
  color: #262A3F;
}
.main_container_info_list_market {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #262A3F;
  opacity: 0.8;
  margin: 12px 0 40px 0;
}
.main_container_info_list_market:last-child {
  margin: 0;
}
.main_container_info_list_line {
  width: 100px;
  height: 2px;
  background-color: #85bbb1;
}

.main_container_info_list_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.main_container_info_text {
  max-width: 400px;
  height: 390px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_container_info_text_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #262A3F;
  opacity: 0.8;
}

/*       /info      */
/*       benefits     */
.benefits {
  max-width: 100%;
  min-height: 670px;
  padding: 0 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits_conteiner {
  width: 1770px;
  min-height: 650px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  background-color: #e64f3a;
}
.benefits_conteiner > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.benefits_conteiner > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.benefits_conteiner > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.benefits_conteiner > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.benefits_conteiner_block {
  border-top: 1px solid #e4e4e4;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.benefits_conteiner_block_header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #262A3F;
}
.benefits_conteiner_block_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #262A3F;
  opacity: 0.8;
}

/*      /benefits     */
/*     quote      */
.quote {
  max-width: 100%;
  height: 600px;
  padding: 0 135px;
  background-color: rgb(127, 255, 212);
}
.quote_conteiner {
  max-width: 100%;
  min-height: 200px;
  max-height: 600px;
  background-image: url(../assets/quote-background.png);
  background-size: cover;
  background-position: center;
  padding: 80px 101px 100px 101px;
}

.quote_conteiner_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 230px;
  position: relative;
  max-height: 550px;
}
.quote_conteiner_block_picture {
  max-width: 100px;
  position: absolute;
}
.quote_conteiner_block_item {
  max-width: 710px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-left: -40px;
  margin-top: 30px;
}
.quote_conteiner_block_item_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.quote_conteiner_block_item_autor {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

/*      /quote      */
/*   video  */
.video {
  max-width: 100%;
  height: 777px;
  padding: 20px 135px;
  background-color: rgb(69, 77, 39);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video_wrapper {
  background-color: #e64f3a;
  max-width: 100%;
  min-width: 820px;
  height: 777px;
}
.video_wrapper_conteiner {
  border: 1px solid #E4E4E4;
  border-radius: 32px;
  max-width: 970px;
  min-height: 601px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px 14px 31px 8px;
}
.video_wrapper_conteiner_tablet {
  width: 95%;
  max-width: 100%;
  height: 539px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.video_wrapper_conteiner_tablet_item:first-child {
  max-width: 13px;
  max-height: 13px;
  min-width: 9px;
  min-height: 9px;
  border: 1px solid #E4E4E4;
  border-radius: 32px;
}
.video_wrapper_conteiner_tablet_item:nth-child(2) {
  background: url(../assets/screensaver-video.png);
  width: 870px;
  height: 539px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video_wrapper_conteiner_tablet_item:last-child {
  border: 1px solid #E4E4E4;
  border-radius: 32px;
  max-width: 35px;
  min-width: 26px;
  max-height: 35px;
  min-height: 26px;
}

.video_wrapper_conteiner_tablet_item_link {
  width: 120px;
  height: 120px;
  background-color: blueviolet;
  background: url(../assets/icon\ play.svg);
}

.video_wrapper_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 31px 14px 31px 8px;
  background-color: #f1897b;
  max-width: 970px;
  min-height: 121px;
}
.video_wrapper_item_header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #262A3F;
}
.video_wrapper_item_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #262A3F;
  opacity: 0.8;
}

/*  /video  */
/* promises */
.promises {
  width: 100%;
  min-height: 670px;
  position: relative;
  background-color: #e64f3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 135px;
}
.promises_picture {
  width: 600px;
  height: 540px;
  background: url(../assets/features-background-image.png);
  background-size: cover;
}
.promises_picture_img {
  max-width: 600px;
}
.promises_info {
  width: 770px;
  min-height: 450px;
  z-index: 3;
  left: 400px;
  top: 45px;
  background: #FFFFFF;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  padding: 45px 0 45px 87px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -170px;
}

.promises_info_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 40px;
}

.promises_info_list_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: 100%;
}
.promises_info_list_block:last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.promises_info_list_block_tril {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #262A3F;
}
.promises_info_list_block_market {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #262A3F;
  opacity: 0.8;
}
.promises_info_list_block_market:last-child {
  margin: 0;
}
.promises_info_list_block_line {
  width: 100px;
  height: 2px;
  background-color: #bb9a85;
}

.botton-promises-block {
  border: 1px solid #E4E4E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 90px;
}
.botton-promises-block:hover {
  border: 1px solid #f1897b;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.botton-promises-block-botton {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.botton-mark {
  position: static;
  margin-left: -100px;
  margin-top: 20px;
}

/* /promises */
/*  revies  */
.reviews {
  width: 100%;
  min-height: 510px;
  background-color: violet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 135px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews_header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #262A3F;
}
.reviews_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #262A3F;
  opacity: 0.8;
}
.reviews_item {
  background-color: #bb9a85;
  max-width: 100%;
  min-height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews_block {
  background-color: darkgoldenrod;
  max-width: 100%;
  height: 100%;
}

.reviews_block_item_client {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
  padding: 30px 40px;
}
.reviews_block_item_client:first-child {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.reviews_block_item_client:nth-child(2) {
  background-image: url(../assets/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.reviews_block_item_client:last-child {
  background-image: url(../assets/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.reviews_block_item_client_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.8;
}
.reviews_block_item_client_author {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

/*  /revies  */
/*   /Main   */
/*.content_bg{
  max-width: 1440px;
  height: 1000px;
  background: url(../assets/first-screen-image.png) no-repeat;
  background-size: contain;
}*/
/*   Main   */
/*.sticky{
    height: 5000px;
}*/
/*   Header   */
/*.header {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 90px;
  top: 30px;
  position: sticky;
  top: 30px;
  display: flex;
  align-items: center;
  padding: 0 135px;


  &_item{
    display: flex;
    align-items: center;
    gap: 573px;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin: 25px 0;


    &_logo{
        display: flex;
        align-items: center;
        gap: 5px;
    }


    &_navbar{
        height: 30px;
    }
  }
}

.header_item_navbar_ul{
  display: flex;
  list-style: none;
  gap: 30px;

  &_text{
    display: inline-block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;


    &_link{
      text-decoration: none;
      color: #262A3F;
    }
  }
}

.header_item_navbar_ul_text:hover{
  border-bottom: 2px solid #F1897B;
  transition: ease-in .2s;
  opacity: .8;
}*/
/*   /Header   */
/*   /Main   */
/*   Footer   */
/*   /Footer   */