.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  

  @media (prefers-color-scheme: dark) {
    background-color: #161926;
  }
  
}

/*  НА 830-840px РОБИТИ ТАБЛЕТ*/

.header {
}

.header_container {
  height: 1029px;
  background: url("../assets/first-screen-image.png");
  background-repeat: no-repeat;
  background-size: cover; //можна ще контейн поставити, тоді це виглядає більш алаптивно, але тоді є трабли з блоками або 100%
  background-position: center;

  @media (prefers-color-scheme: dark) {
    background: url("../assets/first-screen-image-dark.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
  }

  &_title {
    width: 530px;
    height: 305px;
    position: relative;
    bottom: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 135px;

    @media (prefers-color-scheme: dark) {
      margin: 0 auto;
    }

    &_header {
      font-family: "Playfair Display";
      font-weight: 400;
      font-size: 44px;
      line-height: 52px;
      color: #262a3f;

      @media (prefers-color-scheme: dark) {
        color: #ffffff;
      }

      &_green {
        color: #85bbb1;
        font-style: italic;

        @media (prefers-color-scheme: dark) {
          color: #689FF2;
        }
      }
    }

    &_text {
      font-family: "Lato";
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      color: #262a3f;
      margin: 20px 0 50px 0;
      max-width: 439px;

      @media (prefers-color-scheme: dark) {
        color: #ffffff;
        opacity: .8;
      }
    }
    //Join us
    &_link {
      width: 115px;
      height: 20px;
      position: relative;
      

      &:hover &_marker {
        background-color: #e64f3a;
        transition: ease-in-out .5s;

        @media (prefers-color-scheme: dark) {
          background-color:#02E0AB;
          opacity: .5;
        }
      }

      &:hover &_text {
        color: #e64f3a;
        transition: ease-in-out .5s;
        
        @media (prefers-color-scheme: dark) {
          color: #02E0AB;
          opacity: .9;
        }
      }

      &_text {
        font-family: "Lato";
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.08em;
        color: #f1897b;
        opacity: 0.7;

        @media (prefers-color-scheme: dark) {
          color: #53F3CD;
          opacity: 0.6;
        }
      }

      &_marker {
        width: 110px;
        height: 10px;
        position: absolute;
        bottom: -4px;
        right: -7px;
        background-color: #f1897b;
        opacity: 0.3;

        @media (prefers-color-scheme: dark) {
          background-color: #53F3CD;
          opacity: 0.3;
        }
      }
    } // Join us
  }
}

.header_line {
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  position: relative;
  top: 50px;
  justify-content: space-between;
  height: 90px;
  padding: 0 135px;

  @media screen and (max-width: 858px){
    padding: 0 10px;
  }

  &_logo {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.header_line_nav_link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #262a3f;
  margin-right: 30px;

  @media (prefers-color-scheme: dark) {
    color: #ffffff;
  }

  &:last-child {
    margin: 0;
  }
}

.header_line_nav_link:hover {
  border-bottom: 2px solid #f1897b;
  transition: ease-in 0.2s;

  @media (prefers-color-scheme: dark) {
    border-bottom: 2px solid #02E0AB;
  }
}
/*  /Header */
/*   Main   */
.main{
  
  width: 100%;
  flex-grow: 1;

  /*       info     */

  &_container{
    width: 100%;
    min-height: 670px;
    position: relative;
    top: -75px;
    display: flex;
    align-items: center;
    padding: 0 135px;
    justify-content: center;

    @media screen and (max-width: 845px){
      flex-direction: column;
    }

    &_picture{
      width: 570px;
      height: 670px;
      background: url(../assets/statistic-image.png);
      background-size: cover;
      
      

      &_img{
        max-width: 570px;
      }
    }

    &_info{
      max-width: 770px;
      min-height: 580px;
      z-index: 3;
      left: 400px;
      top: 45px;
      background: #FFFFFF;
      opacity: 0.9;
      display: flex;
      gap: 56px;
      padding: 45px 0 45px 87px; //17 0 17 87 - media 940px
      justify-content: space-between;
      margin-left: -170px;

      @media (prefers-color-scheme: dark) {
        background: #161926;
        opacity: 0.9;
      }

      @media screen and (max-width: 845px){
        margin-top: -170px;
        margin-left: 0;
       
      }
    }
  }
}

.blure-bg{
  width: 100%;
  height: 600px;
  display: flex;
  position: absolute;
  z-index: 0;

  &_green{
    width: 100%;
    height: 100%;
    background: linear-gradient(166.11deg, rgba(132, 184, 184, 0.148) 46.73%, #FFFFFF 63.21%, #FFFFFF 63.21%);

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(166.11deg, rgb(14, 19, 42) 0%, rgba(22,25,38,1) 100%);
    }
  }

  &_white{
    width: 100%;
    height: 100%;
    background: linear-gradient(160deg, rgba(132, 184, 184, 0.188) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 100%);

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(166.11deg, rgb(10, 14, 30) 0%, rgba(22,25,38,1) 100%);
    }
  }
}

.main_container_info_list{
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  gap: 40px;


  &_tril{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 68px;
    line-height: 72px;
    text-align: center;
    color: #262A3F;

    @media (prefers-color-scheme: dark) {
      color: #ffffff;
    }
  }
  
  &_market{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #262A3F;
    opacity: 0.8;
    margin: 12px 0 40px 0;

    @media (prefers-color-scheme: dark) {
      color: #ffffff;
      opacity: 0.8;
    }

    &:last-child{
        margin: 0;
    }
  }
  
  &_line{
    width: 100px;
    height: 2px;
    background-color: #85bbb1;
  }
  
}

.main_container_info_list_block{
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main_container_info_text{
  max-width: 400px;
  height: 390px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_item{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #262A3F;
    opacity: 0.8;

    @media (prefers-color-scheme: dark) {
      color: #ffffff;
      opacity: 0.8;
    }
  }

}

.info-button{
}
/*       /info      */

/*       benefits     */
.benefits{
  max-width: 100%;
  min-height: 670px;
  padding: 0 135px ;
  display: flex;
  justify-content: center;
  

  &_conteiner{
    width: 1770px;
    min-height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;

    @media screen and (max-width: 845px){
      grid-template-columns: 1fr ;
    }
    
    &_block{
      border-top: 1px solid #e4e4e4;
      padding: 50px ;
      display: flex;
      flex-direction: column;
      gap: 30px;
      
      &_header{
        font-family: 'Playfair Display';
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        color: #262A3F;

        @media (prefers-color-scheme: dark) {
          color: #ffffff;
        }
      }

      &_text{
        font-family: 'Lato';
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: #262A3F;
        opacity: 0.8;

        @media (prefers-color-scheme: dark) {
          color: #ffffff;
          opacity: 0.8;
        }
        
      }
    }
  }
}
/*      /benefits     */
/*     quote      */ 
.quote{
  max-width: 100%;
  min-height: 600px;
  padding: 0 135px ;
  

  &_conteiner{
    max-width: 100%;
    min-height: 200px;
    max-height: 800px;
    background-image: url(../assets/quote-background.png);
    background-size: cover;
    background-position: center;
    padding: 80px 101px 100px 101px;


  }
}

.quote_conteiner_block{
  display: flex;
  min-height: 230px;
  position: relative;
  max-height: 550px;
  


  &_picture{
    max-width: 100px;
    position: absolute;
    z-index: 10;
    
    &_light{
      @media (prefers-color-scheme: dark) {
        display: none;
      }
    }

    &_dark{
      @media (prefers-color-scheme: light) {
        display: none;
      }
    }
    
  }

  &_item{
    max-width: 710px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: -40px;
    margin-top: 30px;

    &_text{
      font-family: 'Lato';
      font-weight: 400;
      font-size: 32px;
      line-height: 46px;
      letter-spacing: 0.04em;
      color: #FFFFFF;

      @media screen and (max-width: 858px){
       font-size: 24px;
      }
    }
  
    &_autor{
      font-family: 'Playfair Display';
      font-style: italic;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.08em;
      color: #FFFFFF;
    }
  }
}
/*      /quote      */ 
/*   video  */
.video {
  max-width: 100%;
  height: 777px;
  padding: 20px 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
  
}

.video_wrapper{
  max-width: 100%;
 
  height: 100%;

  /*@media screen and (max-width: 845px){
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 700px;
   
  }*/

  @media screen and (max-width: 850px){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #515773;
    height: 100%;
  }

  &_conteiner {
    border: 1px solid #E4E4E4;
    border-radius: 32px;
    max-width: 970px;
    min-height: 501px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 31px 14px 31px 8px;
    background-color: bisque;

    @media screen and (max-width: 850px){
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 850px){
      width: 300px;
      height: 300px;
      padding: 11px 5px 11px 5px;
      
      overflow: hidden;
      
     }

    &_tablet {
      width: 95%;
      max-width: 100%;
      height: 539px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 850px){
        width: 100%;
        height: 450px;
        background-color: #f1897b;
        flex-direction: column;
        border-radius: 8px;
        overflow: hidden;
        
       }

      &_item {
        &:first-child {
          max-width: 13px;
          max-height: 13px;
          min-width: 9px;
          min-height: 9px;
          border: 1px solid #E4E4E4;
          border-radius: 32px;
        }

        &:nth-child(2) {
          background: url(../assets/screensaver-video.png);
          width: 870px;
          height: 539px;
          display: flex;
          align-items: center;
          justify-content: center;

          @media screen and (max-width: 850px){
            transform: rotate(0deg);
            width: 540px;
          }

          
        }

        &:last-child {
          border: 1px solid #E4E4E4;
          border-radius: 32px;
          max-width: 35px;
          min-width: 26px;
          max-height: 35px;
          min-height: 26px;
        }
      }
    }
  }
}


.video_wrapper_conteiner_tablet_item_link{
  width: 120px;
  height: 120px;
  background: url(../assets/icon-play.svg);

  @media (prefers-color-scheme: dark) {
    background: url(../assets/icon-play-dark.svg);
  }
}

.video_wrapper_item{
  display: flex;
  flex-direction: column;
  padding: 31px 14px 31px 8px;
  max-width: 970px;
  height: 100%;
  background-color: #02E0AB;
  gap: 20px;

  

  &_header{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #262A3F;

    @media (prefers-color-scheme: dark) {
     color: #ffffff;
    }
  }

  &_text{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #262A3F;
    opacity: 0.8;

    @media (prefers-color-scheme: dark) {
      color: #ffffff;
      opacity: 0.8;
    }
  }
}
/*  /video  */
/* promises */
.promises{
  width: 100%;
  min-height: 670px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 135px;

  @media screen and (max-width: 845px){
    flex-direction: column;
  }

  &_picture{
    width: 600px;
    height: 540px;
    background: url(../assets/features-background-image.png);
    background-size: cover;

    &_img{
      max-width: 600px;
    }
  }

  &_info{
    width: 770px;
    min-height: 450px;
    z-index: 3;
    left: 400px;
    top: 45px;
    background: #FFFFFF;
    opacity: 0.9;
    display: flex;
    gap: 56px;
    padding: 45px 0 45px 87px; //17 0 17 87 - media 940px
    justify-content: space-between;
    margin-left: -170px;

    @media (prefers-color-scheme: dark) {
      background: #161926;
      opacity: 0.9;
    }

    @media screen and (max-width: 845px){
      margin-top: -170px;
      margin-left: 0;
    }
  }
}  

.promises_info_list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 40px;

  @media screen and (max-width: 850px){
    grid-template-columns: 1fr;
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }
  
}

.promises_info_list_block{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;

  &:last-child{
    justify-content: center;
  }

  &_tril{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    color: #262A3F;
    @media (prefers-color-scheme: dark) {
      color: #ffffff;
     }
  }
  
  &_market{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #262A3F;
    opacity: 0.8;

    @media (prefers-color-scheme: dark) {
      color: #ffffff;
      opacity: 0.8;
     }

    &:last-child{
      margin: 0;
    }
  }
  
  &_line{
    width: 100px;
    height: 2px;
  }
}

.botton-promises-block{
  border: 1px solid #E4E4E4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 90px;

  @media (prefers-color-scheme: dark) {
    border: 1px solid #515773;
  }

  &:hover{
    border: 1px solid #f1897b;
    transition: ease-in-out .5s;

    @media (prefers-color-scheme: dark) {
      border: 1px solid #02E0AB;
    }
  }
}

.botton-promises-block-botton{
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.botton-mark{
  position: static;
  margin-left: -100px;
  margin-top: 20px;
}
/* /promises */
/*  revies  */
.reviews{
  width: 100%;
  min-height: 510px;
  display: flex;
  justify-content: center;
  padding: 0 135px;
  align-items: center;
  background-color: #53F3CD;
  
  &_header{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #262A3F;

    @media (prefers-color-scheme: dark) {
      color: #ffffff;
     }
  }

  &_text{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #262A3F;
    opacity: 0.8;

    @media (prefers-color-scheme: dark) {
      color: #ffffff;
      opacity: 0.8;
     }
  }

  &_item{
    max-width: 100%;
    height: 340px;
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: #e64f3a;
    overflow: scroll;
    
    @media screen and (max-width: 900px){
      flex-wrap: wrap;
     }
  }
  
}

.reviews_block{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #689FF2;
}

.reviews_block_item_client{
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 30px 40px;
  background-color: #f1897b;

  &:first-child{
    background-image: url(../assets/bg.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &:nth-child(2){
    background-image: url(../assets/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &:last-child{
    background-image: url(../assets/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &_text{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.8;
  }

  &_author{
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
  }
}
/*  /revies  */
/*  contacts  */
.contacts{
  width: 100%;
  min-height: 400px;
  padding: 0 135px;

  @media screen and (max-width: 845px){
    padding: 0 10px;
  }

  &_wrapper{
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 230px;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;

    @media screen and (max-width: 845px){
     gap: 50px;
    }

    &_form{
      width: 420px;
      height: 240px;
      

      &_block{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_label{
        }
        &_input{
          width: 100%;
          height: 32px;
          border-bottom: 1px solid #E4E4E4;
          font-family: 'Playfair Display';
          font-style: italic;
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 0.08em;
          color: #262A3F;
          opacity: 0.5;
          padding-bottom: 12px;
        }
      }
    }

    &_item{
      width: 470px;
      min-height: 120px;

      &_header{
        font-family: 'Playfair Display';
        font-weight: 400;
        font-size: 40px;
        line-height: 39px;
        color: #262A3F;
        
        @media (prefers-color-scheme: dark) {
          color: #ffffff;
        }
      }

      &_text{
        font-family: 'Lato';
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: #262A3F;
        opacity: 0.8;

        @media (prefers-color-scheme: dark) {
          color: #ffffff;
          opacity: .8;
        }
      }
    }
  }
}
/*  contacts  */
/*   /Main   */

/*  Footer  */
.footer{
  width: 100%;
  min-height: 86px;
  padding: 0 135px;
}

.footer_wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_copy-right{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #262A3F;
    opacity: 0.6;
    text-align: center;

    @media (prefers-color-scheme: dark) {
      color: #ffffff;
      opacity: .6;
    }
  }

  &_made-by{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    color: #262A3F;
    text-align: center;

    @media (prefers-color-scheme: dark) {
      color: #ffffff;
    }

    &_span{
      font-weight: 300;
      font-size: 14px;
      line-height: 26px;
      color: #262A3F;
      opacity: 0.6;

      @media (prefers-color-scheme: dark) {
        color: #ffffff;
        opacity: .6;
      }
    }
  }

  &_terms-cond{
    display: flex;
    gap: 32px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    color: #262A3F;
    text-align: center;

    @media (prefers-color-scheme: dark) {
      color: #ffffff;
    }
  }
}
/*  /Footer  */
/*.content_bg{
  max-width: 1440px;
  height: 1000px;
  background: url(../assets/first-screen-image.png) no-repeat;
  background-size: contain;
}*/

/*   Main   */

/*.sticky{
    height: 5000px;
}*/
/*   Header   */
/*.header {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 90px;
  top: 30px;
  position: sticky;
  top: 30px;
  display: flex;
  align-items: center;
  padding: 0 135px;
  

  &_item{
    display: flex;
    align-items: center;
    gap: 573px;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin: 25px 0;


    &_logo{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    

    &_navbar{
        height: 30px;
    }
  }
}

.header_item_navbar_ul{
  display: flex;
  list-style: none;
  gap: 30px;

  &_text{
    display: inline-block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    

    &_link{
      text-decoration: none;
      color: #262A3F;
    }
  }
}

.header_item_navbar_ul_text:hover{
  border-bottom: 2px solid #F1897B;
  transition: ease-in .2s;
  opacity: .8;
}*/
/*   /Header   */

/*   /Main   */
/*   Footer   */
/*   /Footer   */