body{
    background-color: #3399CC;
    border: 25px solid #2B81AC;
    max-width: 1440;
    max-height: 900px;
}

.title{
    font-size: 21px;
    line-height: 24.6px;
    color: #ffffff;
    position: relative;
    top: 60px;
    left: 135px;
   
}

.title_item{
    display: inline-block;
    position: relative;
    top: 3px;
    
}

.title_icon{
    
    max-width: 30px;
    margin-left: 4px;
}