body{
 
}


.content {
  height: 250vh;
  
}

/*Header*/
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 10px auto;
  align-items: center;
  background-color: darkblue;
  position: sticky;
  top: 0;
  z-index: 2;
}

.sticky {
  height: 200vh;
  
  
}

.language,
.nav,
.logo,
.doc {
  display: inline-block;
}



.nav {
  font-family: "Staatliches";
  font-weight: 400;
  font-size: 22px;
  background-color: aquamarine;
  

}

.doc_slash {
  margin: 0 10px;
}

.language {
  margin: 0 30px 0 0;
  font-family: "Tourney";
  font-weight: 600;
}
/*Header*/
/*Main*/
.section {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*grid-template-rows: 1fr 1fr 1fr;*/
  grid-auto-rows: 270px;
  gap: 10px;
  position: relative;
  z-index: 0;
  max-width: 1200px;
  border-top: 2px solid  #e6e6e6;
  border-bottom: 2px solid  #e6e6e6;
  padding: 10px;
}

.social_media {
  display: inline-block;
  background-color: #e6e6e6;
  position: relative;
}

.icon3 {
  background-color: #1a1a1a;
}

.social_media:hover img {
  opacity: 1;
  /*transition: opacity 1s;*/
  transform: rotateY(180deg);
  transform: rotateX(180deg);
}
.social_media img {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 270px;
  max-height: 180px;
  margin: auto;
  transition: ease-in-out 0.7;
}

.social_media:hover {
  transform: rotateX(180deg);
  background-color: #1a1a1a;
  transition: ease-in 1s;
  /*background-image: url(./facebook_white.svg) no-repeat;*/

  /*animation-name: logoss;
    animation-duration: 1s;*/
}

.icon3:hover {
  transform: rotateX(180deg);
  background-color: #e6e6e6;
  transition: all ease-in 0.7s;
}

.logos1 {
  opacity: 1;
}

.logos2 {
  opacity: 0;
}


/*.logos{
  text-align: center;
  background-color: aqua;
 
  max-width: 200px;
  max-height: 40px;
  
}*/

/*/Main*/
